.card-form, .card-table {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

select, input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table th, table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.btn-delete {
  padding: 6px 10px;
  border: none;
  background: red;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.btn-delete:hover {
  background: #b40000;
}
